<a href="https://colab.research.google.com/github/GabrielGuilherme88/Analise-Enem/blob/master/ENEM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##**INTRODUÇÃO**

Análise da base de dados do ENEM 2018!

In [ ]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [ ]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [ ]:
link = "https://drive.google.com/open?id=11emehHDtXb-U10M1VCs90TyP44bzbhWn" #link compartilhado do google drive

In [ ]:
fluff, id = link.split('=')
print (id) # Verify that you have everything after '='

11emehHDtXb-U10M1VCs90TyP44bzbhWn

In [ ]:
pd.options.display.float_format = '{:,.2f}'.format

In [ ]:
import pandas as pd
downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('MICRODADOS_ENEM_2018.csv')  
df3 = pd.read_csv('MICRODADOS_ENEM_2018.csv', encoding="ISO-8859-1", delimiter=";")

In [ ]:
df3.head(10)

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q025  Q026 Q027
0  180008202043    2018                  5300108  ...    A     B    A
1  180007197856    2018                  2111102  ...    A     A    A
2  180008517434    2018                  3530607  ...    B     A    A
3  180007661228    2018                  2916401  ...    B     A    A
4  180008787987    2018                  2918100  ...    B     B    A
5  180007239581    2018                  2507507  ...    B     A    A
6  180007198225    2018                  3171709  ...    B     A    A
7  180008090447    2018                  2207702  ...    B     A    A
8  180008257068    2018                  2304400  ...    A     B    A
9  180008202044    2018                  5103403  ...    A     A    A

[10 rows x 137 columns]

In [ ]:
df3.shape

(5513747, 137)

In [ ]:
df3.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'CO_MUNICIPIO_RESIDENCIA',
       'NO_MUNICIPIO_RESIDENCIA', 'CO_UF_RESIDENCIA', 'SG_UF_RESIDENCIA',
       'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA',
       'TP_NACIONALIDADE', 'CO_MUNICIPIO_NASCIMENTO',
       'NO_MUNICIPIO_NASCIMENTO', 'CO_UF_NASCIMENTO', 'SG_UF_NASCIMENTO',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_ESCOLA', 'CO_MUNICIPIO_ESC',
       'NO_MUNICIPIO_ESC', 'CO_UF_ESC', 'SG_UF_ESC',
       'TP_DEPENDENCIA_ADM_ESC', 'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC',
       'IN_BAIXA_VISAO', 'IN_CEGUEIRA', 'IN_SURDEZ',
       'IN_DEFICIENCIA_AUDITIVA', 'IN_SURDO_CEGUEIRA',
       'IN_DEFICIENCIA_FISICA', 'IN_DEFICIENCIA_MENTAL',
       'IN_DEFICIT_ATENCAO', 'IN_DISLEXIA', 'IN_DISCALCULIA',
       'IN_AUTISMO', 'IN_VISAO_MONOCULAR', 'IN_OUTRA_DEF', 'IN_GESTANTE',
       'IN_LACTANTE', 'IN_IDOSO', 'IN_ESTUDA_CLASSE_HOSPITALAR',
       'IN_SEM_RECURSO', 'IN_BRAILLE', 'IN_AMPLIADA_24', 'IN_AMPLIADA_18',
       'IN_LEDOR', 'IN_ACESSO', 'IN_TRANSCRICAO', 'IN_LIBRAS',
       'IN_LEITURA_LABIAL', 'IN_MESA_CADEIRA_RODAS',
       'IN_MESA_CADEIRA_SEPARADA', 'IN_APOIO_PERNA', 'IN_GUIA_INTERPRETE',
       'IN_COMPUTADOR', 'IN_CADEIRA_ESPECIAL', 'IN_CADEIRA_CANHOTO',
       'IN_CADEIRA_ACOLCHOADA', 'IN_PROVA_DEITADO', 'IN_MOBILIARIO_OBESO',
       'IN_LAMINA_OVERLAY', 'IN_PROTETOR_AURICULAR', 'IN_MEDIDOR_GLICOSE',
       'IN_MAQUINA_BRAILE', 'IN_SOROBAN', 'IN_MARCA_PASSO', 'IN_SONDA',
       'IN_MEDICAMENTOS', 'IN_SALA_INDIVIDUAL', 'IN_SALA_ESPECIAL',
       'IN_SALA_ACOMPANHANTE', 'IN_MOBILIARIO_ESPECIFICO',
       'IN_MATERIAL_ESPECIFICO', 'IN_NOME_SOCIAL', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027'], dtype=object)

In [ ]:
colunas_de_notas = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO']
df3[colunas_de_notas].describe()

        NU_NOTA_CN   NU_NOTA_CH  ...  NU_NOTA_COMP5  NU_NOTA_REDACAO
count 3,905,099.00 4,148,264.00  ...   4,148,264.00     4,148,264.00
mean        493.68       568.10  ...          71.47           508.68
std          74.17        81.42  ...          52.29           187.50
min           0.00         0.00  ...           0.00             0.00
25%         435.80       509.80  ...          40.00           360.00
50%         483.40       582.20  ...          60.00           520.00
75%         542.30       628.10  ...         120.00           620.00
max         869.60       850.40  ...         200.00         1,000.00

[8 rows x 10 columns]

In [ ]:
import numpy as np

seed = 43278
np.random.seed(seed)

amostra = df3.sample(frac = 0.025)
amostra.shape

(137844, 137)

In [ ]:
amostra.head()

         NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q025  Q026 Q027
1156691  180009327796    2018                  2112209  ...    B     A    A
4969828  180012890374    2018                  3557105  ...    B     D    D
356754   180008223824    2018                  2506301  ...    B     A    E
1892731  180007859645    2018                  3534807  ...    A     B    A
4927966  180013499517    2018                  3523107  ...    B     A    A

[5 rows x 137 columns]

In [ ]:
amostra[colunas_de_notas].describe()

       NU_NOTA_CN  NU_NOTA_CH  ...  NU_NOTA_COMP5  NU_NOTA_REDACAO
count   97,537.00  103,774.00  ...     103,774.00       103,774.00
mean       493.63      568.31  ...          71.50           509.13
std         74.18       81.03  ...          52.21           187.01
min          0.00        0.00  ...           0.00             0.00
25%        435.50      510.40  ...          40.00           360.00
50%        483.50      582.40  ...          60.00           520.00
75%        542.60      628.00  ...         120.00           620.00
max        869.60      850.40  ...         200.00         1,000.00

[8 rows x 10 columns]

In [ ]:
ano = "2018"
destino = f"MICRODADOS_ENEM_{ano}_SAMPLE_{seed}.csv"

amostra.to_csv(destino, index=False)

In [ ]:
#ano = "2018"
#destino = f"MICRODADOS_ENEM_{ano}_SAMPLE_{seed}.csv"

#amostra.to_csv(destino, index=False)

In [ ]:
#import statsmodels.stats.api as sms

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
#import scipy.stats

In [ ]:
#def mean_confidence_interval(data, confidence=0.95):
    #a = 1.0 * np.array(data)
    #n = len(a)
    #m, se = np.mean(a), scipy.stats.sem(a)
    #h = se * scipy.stats.t.ppf((1 + confidence) / 2., n-1)
    #return m, m-h, m+h

In [ ]:
#a = amostra[colunas_de_notas].head().dropna()

In [ ]:
#b = mean_confidence_interval(a, confidence=0.95)

In [ ]:
#b

(322.44, array([179.58062599, 101.03043481, -33.61389419, -55.16236047,
        246.54833933, 322.44      , 293.75564847, 223.07449153,
        150.3338908 , -35.82743581]), array([465.29937401, 543.84956519, 678.49389419, 700.04236047,
        398.33166067, 322.44      , 351.12435153, 421.80550847,
        494.5461092 , 680.70743581]))

In [ ]:
#import statsmodels.stats.api as sms

sms.DescrStatsW(a).tconfint_mean()

(array([318.67395932, 348.09043481, 143.64610581, 196.0643062 ,
         50.77500599, 120.        ,  84.6489818 ,  20.63449153,
        -92.1061092 , 201.73256419]),
 array([604.39270734, 790.90956519, 855.75389419, 951.26902714,
        202.55832734, 120.        , 142.01768487, 219.36550847,
        252.1061092 , 918.26743581]))

In [ ]:
#c = range(10,14)
#c

range(10, 14)

In [ ]:
#mean_confidence_interval(c)

(11.5, 9.445739743239121, 13.554260256760879)

In [ ]:
#import numpy
#import scipy.stats
#dados = numpy.random.normal(loc=0.0, scale=1.0, size=10000)

In [ ]:
####obliquidade = scipy.stats.skew(df3)